Source: xcp-storage-managers
Section: libs
Priority: extra
Maintainer: PKG-Xen Devel <pkg-xen-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>, Jon Ludlam <jonathan.ludlam@eu.citrix.com>, Mike McClurg <mike.mcclurg@citrix.com>
Build-Depends: debhelper (>= 8), swig, python-all-dev, libxen-dev, python-all (>= 2.6.6-3~)
Standards-Version: 3.9.2
X-Python-Version: >= 2.6
VCS-Git: http://anonscm.debian.org/git/pkg-xen/xcp-storage-managers.git
VCS-Browser: http://anonscm.debian.org/gitweb/?p=pkg-xen/xcp-storage-managers.git
Homepage: http://www.xen.org/products/cloudxen.html

Package: xcp-storage-managers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, uuid-runtime, blktap-utils
Recommends: lvm2, nfs-common
Description: storage backends for XCP
 The Xen Cloud Platform (XCP) is an open source enterprise-ready server
 virtualization and cloud computing platform, with support for a range of
 guest operating systems, Linux network and storage support.
 .
 XCP addresses the needs of cloud providers, hosting services and data centers
 by combining the isolation and multitenancy capabilities of the Xen hypervisor
 with enhanced security, storage and network virtualization technologies to
 offer a rich set of virtual infrastructure cloud services. The platform
 also address user requirements for security, availability, performance and
 isolation across both private and public clouds.
 .
 XCP consolidates server workloads, enables savings in power, cooling, and
 management costs and thus contributing to environmentally sustainable
 computing, an increased ability to adapt to ever-changing IT environments,
 an optimized use of existing hardware, and an improved level of IT
 reliability.
 .
 This package provides storage backend plugins for various storage types that
 XCP supports.
