Source: xcp-storage-managers
Section: libs
Priority: extra
Maintainer: PKG-XEN-Devel <pkg-xen-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>, Jon Ludlam <jonathan.ludlam@eu.citrix.com>
Build-Depends: debhelper (>= 8), swig, python2.6-dev, libxen-dev, python-all (>= 2.6.6-3~)
Standards-Version: 3.9.2
Homepage: http://www.xen.org/products/cloudxen.html

Package: xcp-storage-managers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, uuid-runtime, blktap-utils
Recommends: lvm2, nfs-common
Description: Storage backends for XenAPI
 XCP is a server virtualization platform which provides a rich XML-RPC based
 management API on top of the Xen hypervisor. xcp-storage-managers provides
 storage backend plugins for various storage types that XCP supports.
