#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

export DH_OPTIONS

%:
	dh $@ --with python2

override_dh_fixperms:
	dh_testroot
	dh_fixperms
	rm -rf debian/xcp-storage-managers/sbin
	chmod -x debian/xcp-storage-managers/usr/lib/xcp/sm/XE_SR_ERRORCODES.xml

override_dh_python2:
	dh_python2 /usr/lib/xcp/sm
